.project {
    box-sizing: border-box;
    text-align: center;
    text-align: -webkit-center;
    padding-top: 100px;
}

.project h3 {
    margin-bottom: 20px;
    font-size: 50px;
}

.container-fluid .card {
    background-color: #77ccfa;
    width: 40%;
    border: ridge;
    border-radius: 20px;
    width: fit-content;
    width: 50%;
    padding: 2em;
}

.container-fluid .card h1 {
    margin-bottom: 10px;
}

.container-fluid .card h4 {
    margin-top: 10px;
}

.container-fluid .owl-nav span {
    font-size: 50px;
}

.flex-card {
    display: flex;
    justify-content: space-between;

}

.tool img {
    max-inline-size: fit-content;
    padding-top: 10px;
   padding-bottom: 10px;
}

.col-img , .github {
    width: 50px;
   padding: 5px;
}

.tool {
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.pic img {
    border-radius: 10px;

}
.owl-carousel.owl-loaded {
    z-index: 2;
}

@media screen and (max-width: 720px) {
    .flex-card {
        display:block;
    }
    .col-img , .github{
        display: flex;
        width: 40px;
    }
    .github{
             align-items: center;
    }
    .tool  {
        display: flex;
       margin-top: 10px;
       margin-left: 0;
       flex-direction: row;
       justify-content: space-between;
    }
    .tool img {
        padding-top: 0;
       padding-bottom: 0;
       
    }
    .project h1 {
        font-size: 20px;
    }
    .container-fluid .card {
        width: 90%;
        padding: 5px;
    }
}