#root {
height: 100%;
}
/* .App{
  /*background-color: #000000;*/
  /* color: white; 
} */

.top{
  padding-bottom: 10vw;
  background: linear-gradient(black,#4A4A4A);
}
.Cloud {
  position: relative;
  background-color: #c9e5ee;
}
.showcontent{
  
  background: linear-gradient(#e1f4f6,#ebe7b0) ;
}
.maincontent{
  background: linear-gradient(#c9e5ee,20%,#afeafb,50%,#e1f4f6);
}
.backTop{
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    height: 50px;
    max-width: 50px;
    width: 100%;
    border-color: rgba(203, 108, 108, 0.2);
    background-color: rgb(0, 133, 241);
    padding: 0.1vw;
    border-radius: 2vw;
    z-index: 3;
}

/*On Hover Color Change*/
.backTop:hover {
    background-color: #7dbbf1;
}
.rectangle {
  height: 5vw;
  width: 100%;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(252,252,252,1) 0%, rgba(172,218,242,1) 64%);
}
@media screen and (max-width: 720px) {
  .top{
    padding-bottom: 18vw;
  }
}
@media screen and (max-width: 420px) {
  .backTop{
    bottom: 5vw;
    right: 5vw;
    border-radius: 6vw;
  }
  .top{
    padding-bottom: 17vw;
    background: linear-gradient(black,#4A4A4A);
  }
}